* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    background-image: url(resources/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body>div { 
    flex: 1;
    
}

/* Heading */
.heading { 
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.title {
    flex: 1;
    text-align: center;
    color: darkcyan;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    flex: 6;
    
}

.content>div {
    flex: 1;
    width: 100%;
    padding: 0em 0em 0em 2em;
}

/* Intro */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* Form */
form {
    display: flex;
    width: 60vw;
    flex-flow: row wrap;
}

label {
    position: relative;
    width: 15rem;
    margin-bottom: 15px;
}

input {
    font-family: customFontBold;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    margin-top: 3px;
}